/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 29/07/2014, 12:13:24
    Author     : nilton
*/

.container {
    
}
.content {
    
}
.footer {
    
}
.header {
    
}
.logo {
    
}
.menu {
    
}
.menulist {
    
}
.container thead, td {
    border: 1px solid black;
    text-align: center;
    padding: 2px;
}