<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html">
    <h:head>
        <title>Facelet Title</title>
    </h:head>
    <h:body>
        <h:form>
            <h:panelGrid columns="2">
                #{msgs.streetAddress} <h:inputText value="#{place.streetAddress}" size="15"/>
                #{msgs.city}          <h:inputText value="#{place.city}"          size="10"/>
                #{msgs.state}         <h:inputText value="#{place.state}"         size="2"/>
                #{msgs.zip}           <h:inputText value="#{place.zip}"           size="5"/>

                <h:commandButton value="#{msgs.goButtonText}"
                                 style="font-family:Palatino;font-style:italic"
                                 action="#{place.fetch}"/>

            </h:panelGrid>
        </h:form>
    </h:body>
</html>

